<div class="row btn-page">
    <div class="col-sm-12">
        <div class="col-sm-12">
            <app-card [hidHeader]="true">
        
              <ngb-tabset activeId="UserlistId" (tabChange)="beforeChange($event)" #myTabSet="ngbTabset">
                <ngb-tab title="Source" id="UserlistId">
                  <ng-template ngbTabContent>
                      <table datatable id="report-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                      class="table table-bordered table-striped mb-0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Source TypeId</th>
                          <th>Is Automated</th>
                          <th>Is Utility Supported</th>
                          <th>Is Generator Supported</th>
                          <th>Source Type</th>
                          <th>Status</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of DeptMetersList;let i = index;">
                          <td>{{i+1}}</td>
                          <td>{{item.sourceTypeId}}</td>
                          <td>{{item.isAutomated}}</td>
                          <td>
                            {{item.isUtilitySupported}}
                          </td>
                          <td>
                            {{item.isGeneratorSupported}}
                          </td>
                          <td>
                            {{item.sourceType}}
                          </td>
                          <td class="align-middle">
                              <span *ngIf="item.active" class="badge badge-success">Active</span>
                              <span *ngIf="!item.active" class="badge badge-danger">In-Active</span>
                            </td>
                          <td class="table-action">
                            <span (click)="myTabSet.select('AdduserId')"><a href="javascript:"
                                class="btn btn-icon btn-outline-success" (click)="userModal('Edit', item)"><i
                                  class="feather icon-edit"></i></a></span>
                            <a href="javascript:" class="btn btn-icon btn-outline-danger"
                              (click)="confirmAlertDelete(item._id)"><i class="feather icon-trash-2"></i></a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title={{tabHeader}} id="AdduserId">
                  <ng-template ngbTabContent>
                      <div class="card m-3">
                          <h5 class="card-header">{{formHeader}}</h5>
                          <div class="card-body">
                            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <input type="number" placeholder="Source TypeId" formControlName="sourceTypeId" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.sourceTypeId.errors }" />
                                      <div *ngIf="submitted && f.sourceTypeId.errors" class="invalid-feedback">
                                        <div *ngIf="f.sourceTypeId.errors.required">Source TypeId is required</div>
                                      </div>
                                    </div>
                                    <div class="form-group col">
                                    </div>
                                </div>
                              <div class="form-row">
                                  <div class="form-group col">
                                      <select formControlName="isAutomated" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.isAutomated.errors }">
                                        <option value="">Select Automated</option>
                                        <option value="true" >true</option>
                                        <option value="false" >false</option>
                                      </select>
                                      <div *ngIf="submitted && f.isAutomated.errors" class="invalid-feedback">
                                        <div *ngIf="f.isAutomated.errors.required">Automated is required</div>
                                      </div>
                                    </div>

                                <!-- <div class="form-group col">
                                  <input type="text" placeholder="Automated" formControlName="isAutomated" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.isAutomated.errors }" />
                                  <div *ngIf="submitted && f.isAutomated.errors" class="invalid-feedback">
                                    <div *ngIf="f.isAutomated.errors.required">Automated is required</div>
                                  </div>
                                </div> -->
                                <div class="form-group col">
                                    <select formControlName="isUtilitySupported" class="form-control"
                                      [ngClass]="{ 'is-invalid': submitted && f.isUtilitySupported.errors }">
                                      <option value="">Select Utility Supported</option>
                                      <option value="true" >true</option>
                                      <option value="false" >false</option>
                                    </select>
                                    <div *ngIf="submitted && f.isUtilitySupported.errors" class="invalid-feedback">
                                      <div *ngIf="f.isUtilitySupported.errors.required">Utility Supported is required</div>
                                    </div>
                                  </div>
                              </div>
                              <div class="form-row">
                                  <div class="form-group col">
                                      <select formControlName="isGeneratorSupported" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.isGeneratorSupported.errors }">
                                        <option value="">Select Generator Supported</option>
                                        <option value="true" >true</option>
                                        <option value="false" >false</option>
                                      </select>
                                      <div *ngIf="submitted && f.isGeneratorSupported.errors" class="invalid-feedback">
                                        <div *ngIf="f.isGeneratorSupported.errors.required">Generator Supported is required</div>
                                      </div>
                                    </div>
                                <div class="form-group col">
                                  <input type="text" placeholder="Source Type" formControlName="sourceType" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.sourceType.errors }" />
                                  <div *ngIf="submitted && f.sourceType.errors" class="invalid-feedback">
                                    <div *ngIf="f.sourceType.errors.required">Source Type Id is required</div>
                                  </div>
                                </div>
                              </div>
                              <div class="text-center">
                                <button class="btn btn-primary mr-1">{{buttonType}}</button>
                                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                              </div>
                            </form>
                          </div>
                        </div>
        
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </app-card>
          </div>
  
      
    </div>
  </div>
  