<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">{{formHeader}}</h5>
  <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close" (click)="hideModal()">
    <span aria-hidden="true">&times;</span></button>
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <!-- <div class="form-group col">
          <label>Title</label>
          <select formControlName="title" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
            <option value=""></option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Ms">Ms</option>
          </select>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
            <div *ngIf="f.title.errors.required">Title is required</div>
          </div>
        </div> -->
        <div class="form-group col">
          <label>Name</label>
          <input type="text" formControlName="name" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
          <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
          </div>
        </div>
        <div class="form-group col">
          <label>Active</label>
          <select formControlName="isActive" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.isActive.errors }">
            <option value="">Select Status</option>
            <option value="true">True</option>
            <option value="false">False</option>
          </select>
          <div *ngIf="submitted && f.isActive.errors" class="invalid-feedback">
            <div *ngIf="f.isActive.errors.required">Status is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-4">
          <label class="bold">Admin User Entry : </label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-1" value="view" formControlName="myValues" /> &nbsp;
          <label>View</label>
        </div>
        <div class="form-group col-2">

          <input type="checkbox" id="checkbox-2" value="create" formControlName="myValues" />&nbsp;
          <label>Create</label>
        </div>
        <div class="form-group col-2">
          <input type="checkbox" id="checkbox-3" value="update" formControlName="myValues" />&nbsp;
          <label>Update</label>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">{{buttonType}}</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </div>
    </form>
  </div>
</div>
