<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
 
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
        
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
              <form [formGroup]="ChangePasswordForm" (ngSubmit)="onSubmit()">
            <img src="assets/images/logo-dark.png" alt="" class="img-fluid mb-4">
            <h4 class="mb-4 f-w-400">Change your password</h4>
            <div class="form-group mb-2">
              <input type="password"  formControlName="CurrentPassword" [ngClass]="{ 'is-invalid': submitted && f.CurrentPassword.errors }" 
               class="form-control"  placeholder="Current Password">
               <div *ngIf="submitted && f.CurrentPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.CurrentPassword.errors.required">Current Password is required</div>
                </div>
            </div>
            <div class="form-group mb-2">
              <input type="password" formControlName="NewPassword" [ngClass]="{ 'is-invalid': submitted && f.NewPassword.errors }"
              class="form-control" placeholder="New Password">
              <div *ngIf="submitted && f.NewPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.NewPassword.errors.required">Password is required</div>
                  <div *ngIf="f.NewPassword.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group mb-4">
              <input type="password" formControlName="ConfirmPassword"  [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }"
              class="form-control" placeholder="Re-Type New Password">
              <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
                  <div *ngIf="f.ConfirmPassword.errors.minlength">Confirm Password must be at least 6 characters</div>
                </div>
            </div>
            <button class="btn btn-block btn-primary mb-4">Change password</button>
            </form>
            
          </div>
        </div>
      </div>
     
    </div>
  </div>

  <!-- [ change-password ] end -->
</div>
