<div class="row btn-page">
  <!-- <div class="col-sm-12" >
        <app-card [hidHeader]="true" style="background-color: #ff4500 !important;">
    <div class="row" >
        <div class="col-4"> 
          <select  class="form-control">
            <option value="" selected>Meter Serial Number(Only Unassigned)</option>
            <option value="13543543" >13543543</option>
            <option value="135435434" >135435434</option>
            <option value="13543434533" >13543434533</option>
          </select>
        </div>
        <div class="col-2" style="margin-top: 18px;">
            <input type="checkbox" name="vehicle1" value="Bike"> IS a Tenant<br>
        </div>
        <div class="col-4">
            <select class="form-control">
              <option value="" selected>Common/Chiller</option>
              <option value="13543543" >13543543</option>
              <option value="135435434" >135435434</option>
              <option value="13543434533" >13543434533</option>
            </select>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary" type="reset" >Map Meter</button>
        </div>
      </div>
    </app-card>
    </div>  -->
  <div class="col-sm-12">
    <app-card [hidHeader]="true">
      <ngb-tabset activeId="UserlistId" (tabChange)="beforeChange($event)" #myTabSet="ngbTabset">
        <ngb-tab title="Tenant Mapped Meters List" id="UserlistId">
          <ng-template ngbTabContent>
            <div class="row btn-page">
              <div class="col-xl-2 col-lg-12 task-detail-right" style="padding: 0px;">
                <app-card cardTitle="Tenants List" blockClass="task-details" [options]="false">
                  <ul>
                    <div class="form-group" style="margin-left: -40px;">
                      <select class="form-control" (change)="handleChangeActive($event)">
                        <option value="All">All</option>
                        <option value="Active">Active</option>
                        <option value="InActive">In Active</option>
                      </select>
                    </div>
                    <!-- <div class="row" style="margin-left: -74px;">
                      <div class="col-4" style="text-align: center;">All
                        </div>
                        <div class="col-4" style="text-align: center;">Active
                        </div>
                        <div class="col-4" style="text-align: center;">In Active
                        </div>
                    </div>

                    <div class="row" style="margin-left: -55px;">
                      <div class="col-4">
                      <label class="switch" *ngIf="Allbtn==false">
                        <input type="checkbox"  value="All" (change)="handleChangeActive($event)" checked>
                        <span class="slider round" ></span>
                      </label>
                      <label class="switch" *ngIf="Allbtn==true">
                        <input type="checkbox"  value="All" (change)="handleChangeActive($event)" >
                        <span class="slider round" ></span>
                      </label>
                      </div>
                      <div class="col-4">
                      <label class="switch" *ngIf="Activebtn==false">
                        <input type="checkbox"  value="Active" (change)="handleChangeActive($event)">
                        <span class="slider round"></span>
                      </label>
                      <label class="switch" *ngIf="Activebtn==true">
                        <input type="checkbox"  value="Active" (change)="handleChangeActive($event)" checked>
                        <span class="slider round"></span>
                      </label>
                      </div>
                      <div class="col-4">
                        <label class="switch" *ngIf="InActivebtn==false">
                          <input type="checkbox" value="InActive" (change)="handleChangeActive($event)" >
                          <span class="slider round" ></span>
                        </label>
                      <label class="switch" *ngIf="InActivebtn==true">
                        <input type="checkbox" value="InActive" (change)="handleChangeActive($event)" checked>
                        <span class="slider round" ></span>
                      </label>
                      </div> -->
                    <!-- <label class="container">All
                        <input type="radio" name="radio" formControlName="assignTenantActive"
                           name="assignTenantActive" value="All"
                          (change)="handleChangeActive($event)">
                        <span class="checkmark" ></span>
                      </label> -->
                    <!-- <label class="container"><span>Active</span>
                        <input type="radio" name="radio" formControlName="assignTenantActive"
                           name="assignTenantActive" value="Active"
                          (change)="handleChangeActive($event)">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">In Active
                        <input type="radio" name="radio" formControlName="assignTenantActive"
                         name="assignTenantActive" value="InActive"
                          (change)="handleChangeActive($event)">
                        <span class="checkmark"></span>
                      </label> -->
                    <!-- </div> -->

                  </ul>
                  <ul class="mb-2 nav nav-tab flex-column nav-pills">
                    <li class="nav-item mail-section">
                      <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
                        (input)="Search(searchText)" autocomplete="off" placeholder="Search by Tenant">
                    </li>
                  </ul>
                  <ul style="margin-top: 19px;margin: -20px;padding-top: 26px;"
                    class="mb-2 nav nav-tab flex-column nav-pills" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <li style="margin-top: -10px;" class="nav-item mail-section"
                      *ngFor="let item of mappedMeterTenantsList | filterUnique | orderby: 'tenantName'">
                      <a class="nav-link text-left" [ngClass]="{'active': tenant === item?.tenantName }"
                        (click)="tenantSelected(item?.tenantName);" id="v-pills-Trash-tab" data-toggle="pill"
                        href="javascript:" role="tab">
                        <span><i class="feather icon-users"></i> {{item?.tenantName}}</span>
                        <hr>
                      </a>
                    </li>
                  </ul>
                </app-card>
              </div>
              <div class="col-xl-10 col-lg-12">
                <app-card [customHeader]="true" [options]="false">
                  <div class="app-card-header">
                    <!-- <h5 class="mb-3"><i class="fas fa-ticket-alt m-r-5"></i> Ticket List Doesn't Support Commas</h5> -->
                  </div>
                  <div class="m-b-20">
                    <h6>Meter Details</h6>
                    <hr>
                    <!-- class="table m-b-0 f-14 b-solid requid-table" -->
                    <div class="table-responsive m-t-20">
                      <div class="table-responsive p-t-20">
                        <div class="table-responsive">
                          <table datatable id="report-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table table-bordered table-striped mb-0">
                            <thead>
                              <tr class="text-uppercase">
                                <th class="text-center">meter Serial Number</th>
                                <th class="text-center">meter Type</th>
                                <th class="text-center">gateway</th>

                                <th class="text-center">block</th>
                                <th class="text-center">floor</th>
                                <th class="text-center">Wing</th>

                                <th class="text-center">Start Date</th>
                                <th class="text-center">End Date</th>
                                <th class="text-center">Status</th>
                                <th>Actions</th>

                              </tr>
                            </thead>
                            <tbody class="text-center text-muted">
                              <tr *ngFor="let item of mappedMeterTenantsList | filter: {tenantName: tenant} ">
                                <td>{{item?.meterSerialNumberID?.meterSerialNumber }}</td>
                                <td>{{item?.meterSerialNumberID?.meterType }}</td>
                                <td>{{item?.meterSerialNumberID?.gateway }}</td>

                                <td>{{item?.floorID?.block }}</td>
                                <td>{{item?.floorID?.floor }}</td>
                                <td>{{item?.floorID?.occupantNumber }}</td>

                                <td>{{item?.createdOn | date :'MMM dd yyyy, hh:mm a' }}</td>
                                <td>{{item?.vacatedOn | date :'MMM dd yyyy, hh:mm a' }}</td>
                                <td>
                                  <span *ngIf="item.active" class="badge badge-success">Active</span>
                                  <span *ngIf="!item.active" class="badge badge-danger">In-Active</span>
                                </td>
                                <td class="table-action" *ngIf="item.active">
                                  <span (click)="myTabSet.select('AdduserId')"><a href="javascript:"
                                      class="btn btn-icon btn-outline-success" (click)="userModal('Edit', item)"><i
                                        class="feather icon-edit"></i></a></span>
                                  <a href="javascript:" class="btn btn-icon btn-outline-danger"
                                    (click)="confirmAlertDelete(item)"><i class="feather icon-trash-2"></i></a>
                                </td>
                                <td *ngIf="!item.active"> NA
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </app-card>

              </div>
            </div>


            <!-- <table datatable id="report-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>Tenant</th>
                  <th>meter Details</th>
                  <th>Actions</th>
                </tr>

              </thead>
              <tbody>
                <tr *ngFor="let item of mappedMeterTenantsList">
                  <th>{{(item?.tenentdet?.tenantName) ? (item?.tenentdet?.tenantName) : (item._id)}}</th>
                  <th>
                    <table>
                      <thead>
                        <tr>
                          <th>meterSerialNumber</th>
                          <th>meterType</th>
                          <th>sourceType</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item1 of item?.data">
                          <td>{{item1?.meterdet?.meterSerialNumber}}</td>
                          <td>{{item1?.meterdet?.meterType}}</td>
                          <td>{{item1?.meterdet?.sourceType}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th>Actions</th>
                </tr>
              </tbody>
            </table> -->
            <!-- <table datatable id="report-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>dept Meter Number</th>
                  <th>meter Number</th>
                  <th>meter Type</th>
                  <th>gateway Name</th>
                  <th>block</th>
                  <th>Floor</th>
                  <th>Tenants</th>
                  <th>contactNumber</th>
                   <th>started</th> -->
            <!-- <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mapmetersList;let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{item?.tenantID?.deptMeterNumber}}</td>
                  <td>{{item?.meterSerialNumberID?.meterSerialNumber}}</td>
                  <td>{{item?.meterType}}</td>
                  <td>{{item?.gatewayName}}</td>
                  <td>{{item?.block}}</td>
                  <td>{{item?.floorID?.floor}}</td>
                  <td>{{item?.tenantID?.tenantName}}</td>
                  <td>{{item?.contactNumber}}</td>
                  <td>{{item?.started}}</td> -->
            <!-- <td class="align-middle">
                    <span *ngIf="item?.active" class="badge badge-success">Active</span>
                    <span *ngIf="!item?.active" class="badge badge-danger">In-Active</span>
                  </td>
                  <td class="table-action">
                    <span (click)="myTabSet.select('AdduserId')"><a href="javascript:"
                        class="btn btn-icon btn-outline-success" (click)="userModal('Edit', item)"><i
                          class="feather icon-edit"></i></a></span>
                    <a href="javascript:" class="btn btn-icon btn-outline-danger" (click)="confirmAlert(item._id)"><i
                        class="feather icon-trash-2"></i></a>
                  </td>
                </tr>
              </tbody>
            </table> -->
          </ng-template>
        </ngb-tab>
        <ngb-tab title={{tabHeader}} id="AdduserId">
          <ng-template ngbTabContent>
            <div class="card m-3">
              <h5 class="card-header">{{formHeader}}</h5>
              <div class="card-body" *ngIf="buttonType != 'Update'">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

                  <div class="form-row">
                    <div class="form-group col">
                      <label>Select Meter Type to Assign</label>
                      <select formControlName="meterSerialNumberID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.meterSerialNumberID.errors }">
                        <option value="">Select Meter</option>
                        <option value="{{item._id}}" *ngFor="let item of metersList">{{item.meterSerialNumber}}</option>
                      </select>
                      <div *ngIf="submitted && f.meterSerialNumberID.errors" class="invalid-feedback">
                        <div *ngIf="f.meterSerialNumberID.errors.required">Meter Type to Assign is required</div>
                      </div>
                    </div>
                    <div class="form-group col">
                    </div>
                  </div>

                  <div class="form-row">

                    <div class="form-group col">
                      <label>Select Building & Block</label>
                      <select formControlName="buildingBlock" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.buildingBlock.errors }">
                        <option value="">Select Building & Block</option>
                        <option [ngValue]="item" *ngFor="let item of FloorList">{{item.building}} & {{item.block}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.buildingBlock.errors" class="invalid-feedback">
                        <div *ngIf="f.buildingBlock.errors.required">Meter Type to Assign is required</div>
                      </div>
                    </div>

                    <div class="form-group col">
                      <label>Select Floor & Wing</label>
                      <select formControlName="floorID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.floorID.errors }">
                        <option value="">Select Meter</option>
                        <option value="{{item._id}}" *ngFor="let item of FloorList | filter: {building: userForm.value.buildingBlock?.building ,
                          block: userForm.value.buildingBlock?.block }">
                          {{item.floor}} & {{item.occupantNumber}}</option>
                      </select>
                      <div *ngIf="submitted && f.floorID.errors" class="invalid-feedback">
                        <div *ngIf="f.floorID.errors.required">Meter Type to Assign is
                          required</div>
                      </div>
                    </div>
                  </div>


                  <div class="form-row">

                    <div class="form-group col">
                      Do you want to assign to a Tenant?
                    </div>
                    <!-- <div class="form-group col">
                        <div class="form-check">

                          <input class="form-check-input" formControlName="assignTenant" style="color: orangered;"
                            type="radio" name="gridRadios" id="gridRadios" value="option1" checked>
                          <label class="form-check-label" for="gridRadios">Yes</label>
                        </div>
                      </div>
                      <div class="form-group col">
                        <div class="form-check">
                          <input class="form-check-input" formControlName="assignTenant" type="radio" name="gridRadios"
                            id="gridRadios" value="option2">
                          <label class="form-check-label" for="gridRadios">No</label>
                        </div>
                      </div> -->
                    <div class="form-group col">
                      <label class="container">Yes
                        <input type="radio" name="radio" formControlName="assignTenant"
                          style="margin: 0px 15px 0px 15px;" name="assignTenant" value="yes"
                          (change)="handleChange($event)">
                        <span class="checkmark"></span>
                      </label>
                      <label class="container">No
                        <input type="radio" name="radio" formControlName="assignTenant"
                          style="margin: 0px 15px 0px 30px;" name="assignTenant" value="no"
                          (change)="handleChange($event)">
                        <span class="checkmark"></span>
                      </label>
                      <!-- <fieldset class="form-group"  >
                        <input type="radio" class="checkmark" formControlName="assignTenant" style="margin: 0px 15px 0px 15px;"
                          name="assignTenant" value="yes" (change)="handleChange($event)"><span >Yes</span>
                        <input type="radio" class="checkmark" formControlName="assignTenant" style="margin: 0px 15px 0px 30px;"
                          name="assignTenant" value="no" (change)="handleChange($event)"><span >No</span>
                      </fieldset> -->
                    </div>


                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label>Common Meter Category</label>
                      <select *ngIf="userForm.value.assignTenant == 'yes'" formControlName="tenantID"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tenantID.errors }">
                        <option value="">Select Meter Category</option>
                        <option value="{{item._id}}" *ngFor="let item of tenantdata">{{item.tenantName}}
                        </option>
                      </select>

                      <select *ngIf="userForm.value.assignTenant == 'no'" formControlName="inactiveTenant"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tenantID.errors }">
                        <option value="">Select Meter Category</option>
                        <option value="{{item._id}}" *ngFor="let item of tenantdata">{{item.tenantName}}
                        </option>
                      </select>

                      <div *ngIf="submitted && f.tenantID.errors" class="invalid-feedback">
                        <div *ngIf="f.tenantID.errors.required">Meter Type to Assign is required</div>
                      </div>
                    </div>
                    <div class="form-group col">
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary mr-1">{{buttonType}}</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                  </div>
                </form>
              </div>
              <div *ngIf="buttonType == 'Update'">

                <div class="form-row">
                  <div class="form-group col">
                    <label>Select Vacate Meter Date</label>
                    <input class="form-control" #statustime="ngModel" placeholder="yyyy-mm-dd" name="dp"
                      [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" required>
                    <div class="input-group-append">
                      <button (click)="d.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                    </div>
                  </div>
                  <div class="form-group col">
                  </div>
                </div>

                <hr />
                <!-- <pre>Model: {{ model | json }}</pre> -->
                <div class="text-center">
                  <button class="btn btn-primary mr-1" [disabled]="!statustime.valid"
                    (click)="changeVacateTime(Userdata,model);">{{buttonType}}</button>
                  <button class="btn btn-secondary" type="reset" (click)="Cancel()">Cancel</button>
                </div>
              </div>

            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
  </div>
</div>
<style>
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked+.slider {
    background-color: #2196F3;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

</style>
