<div class="row btn-page">
  <div class="col-sm-12">
    <app-card [hidHeader]="true">
      <ngb-tabset activeId="UserlistId" (tabChange)="beforeChange($event)" #myTabSet="ngbTabset">
        <ngb-tab title="Meters List" id="UserlistId">
          <ng-template ngbTabContent>
            <table datatable id="report-table" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
              class="table table-bordered table-striped mb-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>meter Serial Number</th>
                  <th>model</th>
                  <th>meter Type</th>
                  <th>dept Meter Number</th>
                  <th>source Type</th>
                  <th>panel</th>
                  <th>gateway</th>
                  <th>provider</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of metersList;let i = index;">
                  <td>{{i+1}}</td>
                  <td>{{item?.meterSerialNumber}}</td>
                  <td>{{item?.model}}</td>
                  <td>{{item?.meterType}}</td>
                  <td>{{item?.deptMeterNumberID?.deptMeterNumber}}</td>
                  <td>{{item?.sourceType}}</td>
                  <td>{{item?.panel}}</td>
                  <td>{{item?.gateway}}</td>
                  <td>{{item?.provider}}</td>
                  <td class="align-middle">
                    <span *ngIf="item?.active" class="badge badge-success">Active</span>
                    <span *ngIf="!item?.active" class="badge badge-danger">In-Active</span>
                  </td>
                  <td class="table-action">
                    <span (click)="myTabSet.select('AdduserId')"><a href="javascript:"
                        class="btn btn-icon btn-outline-success" (click)="userModal('Edit', item)"><i
                          class="feather icon-edit"></i></a></span>
                    <a href="javascript:" class="btn btn-icon btn-outline-danger" (click)="confirmAlert(item._id)"><i
                        class="feather icon-trash-2"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </ngb-tab>
        <ngb-tab title={{tabHeader}} id="AdduserId">
          <ng-template ngbTabContent>
            <div class="card m-3">
              <h5 class="card-header">{{formHeader}}</h5>
              <div class="card-body">
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                    <div class="form-group col">
                      <label>Meter Serial Number</label>
                      <input type="text" placeholder="Enter Meter Serial Number" formControlName="meterSerialNumber" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.meterSerialNumber.errors }" />
                      <div *ngIf="submitted && f.meterSerialNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.meterSerialNumber.errors.required">Meter SerialNumber is required</div>
                      </div>
                    </div>
                    <div class="form-group col-1">
                      </div>
                    <div class="form-group col">
                      <label>Model</label>
                      <input type="text" placeholder="Enter Model" formControlName="model" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.model.errors }" />
                      <div *ngIf="submitted && f.model.errors" class="invalid-feedback">
                        <div *ngIf="f.model.errors.required">Model is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col">
                          <label>Meter Type</label>
                          <select formControlName="meterType" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.meterType.errors }">
                            <option value="">Select Meter Type</option>
                            <option value="{{item._id}}" *ngFor="let item of MetersList">{{item.meterModelName}}</option>
                          </select>
                          <div *ngIf="submitted && f.meterType.errors" class="invalid-feedback">
                            <div *ngIf="f.meterType.errors.required">Meter Type  is required</div>
                          </div>
                        </div>
                    <!-- <div class="form-group col">
                      <label>Meter Type</label>
                      <input type="text" formControlName="meterType" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.meterType.errors }" />
                      <div *ngIf="submitted && f.meterType.errors" class="invalid-feedback">
                        <div *ngIf="f.meterType.errors.required">Meter Type is required</div>
                        <div *ngIf="f.meterType.errors.minlength">Meter Type must be at least 6 characters</div>
                      </div>
                    </div> -->
                    <div class="form-group col-1">
                      </div>
                    <div class="form-group col">
                      <label>Dept Meter Number</label>
                      <select formControlName="deptMeterNumberID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.deptMeterNumberID.errors }">
                        <option value="">Select Dept Meter Number</option>
                        <option value="{{item._id}}" *ngFor="let item of deptMeters">{{item.deptMeterNumber}}</option>
                      </select>
                      <!-- <input type="text" formControlName="deptMeterNumberID" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.deptMeterNumberID.errors }" /> -->
                      <div *ngIf="submitted && f.deptMeterNumberID.errors" class="invalid-feedback">
                        <div *ngIf="f.deptMeterNumberID.errors.required">Dept Meter Number is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="form-group col">
                          <label>Source Type</label>
                          <select formControlName="sourceType" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.sourceType.errors }">
                            <option value="">Select Source Type</option>
                            <option value="{{item._id}}" *ngFor="let item of SourceType">{{item.sourceType}}</option>
                          </select>
                          <div *ngIf="submitted && f.sourceType.errors" class="invalid-feedback">
                            <div *ngIf="f.sourceType.errors.required">Source Type  is required</div>
                          </div>
                        </div>
                        <div class="form-group col-1">
                        </div>
                        <div class="form-group col">
                            <label>Panel</label>
                            <select formControlName="panel" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && f.panel.errors }">
                              <option value="">Select Panel</option>
                              <option value="{{item._id}}" *ngFor="let item of PanelList">{{item.panelName}}</option>
                            </select>
                            <div *ngIf="submitted && f.panel.errors" class="invalid-feedback">
                              <div *ngIf="f.panel.errors.required">Panel  is required</div>
                            </div>
                          </div>
                    <!-- <div class="form-group col">
                      <label>Source Type</label>
                      <input type="text" formControlName="sourceType" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.sourceType.errors }" />
                      <div *ngIf="submitted && f.sourceType.errors" class="invalid-feedback">
                        <div *ngIf="f.sourceType.errors.required">sourceType is required</div>
                        <div *ngIf="f.sourceType.errors.minlength">sourceType must be at least 6 characters</div>
                      </div>
                    </div> -->
                    <!-- <div class="form-group col">
                      <label>Panel</label>
                      <input type="text" formControlName="panel" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.panel.errors }" />
                      <div *ngIf="submitted && f.panel.errors" class="invalid-feedback">
                        <div *ngIf="f.panel.errors.required">panel is required</div>
                      </div>
                    </div> -->
                  </div>
                  <div class="form-row">
                      <div class="form-group col">
                          <label>Gateway</label>
                          <select formControlName="gateway" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.gateway.errors }">
                            <option value="">Select Gateway</option>
                            <option value="{{item._id}}" *ngFor="let item of GatewayList">{{item.gatewayModel}}</option>
                          </select>
                          <div *ngIf="submitted && f.gateway.errors" class="invalid-feedback">
                            <div *ngIf="f.gateway.errors.required">Gateway  is required</div>
                          </div>
                        </div>
                        <div class="form-group col-1">
                          </div>
                    <!-- <div class="form-group col">
                      <label>Gateway</label>
                      <input type="text" formControlName="gateway" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.gateway.errors }" />
                      <div *ngIf="submitted && f.gateway.errors" class="invalid-feedback">
                        <div *ngIf="f.gateway.errors.required">gateway is required</div>
                        <div *ngIf="f.gateway.errors.minlength">gateway must be at least 6 characters</div>
                      </div>
                    </div> -->
                    <div class="form-group col">
                      <label>Provider</label>
                      <input type="text" placeholder="Enter Provider" formControlName="provider" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.provider.errors }" />
                      <div *ngIf="submitted && f.provider.errors" class="invalid-feedback">
                        <div *ngIf="f.provider.errors.required">Provider is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label>Multifying Factor</label>
                      <input type="number" placeholder="Enter Multifying Factor" formControlName="multifyingFactor" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.multifyingFactor.errors }" />
                      <div *ngIf="submitted && f.multifyingFactor.errors" class="invalid-feedback">
                        <div *ngIf="f.multifyingFactor.errors.required">Multifying Factor is required</div>
                        <div *ngIf="f.multifyingFactor.errors.minlength">Multifying Factor must be at least 6
                          characters</div>
                      </div>
                    </div>
                    <div class="form-group col-1">
                      </div>
                    <div class="form-group col">
                      <label>Comments</label>
                      <input type="text" placeholder="Enter Comments" formControlName="comments" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.comments.errors }" />
                      <div *ngIf="submitted && f.comments.errors" class="invalid-feedback">
                        <div *ngIf="f.comments.errors.required">Comments is required</div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-primary mr-1">{{buttonType}}</button>
                    <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                  </div>
                </form>
              </div>
            </div>

          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </app-card>
  </div>
</div>
